{% extends "layout2.html" %}

{% block body_content %}
    <h1 class="cinzel-font">Shopping Basket</h1>
    <ul>
        {% for item in basket %}
            {% set product = products|selectattr('id', 'equalto', item.product_id)|list %}
            {% if product %}
                {% set product = product[0] %}
                <li>
                    <h3 class="cinzel-font">{{ product.ProductName }}</h3>
                    <p>{{ product.ProductDescription }}</p>
                    <p>Price: £{{ product.ProductPrice }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    <!-- Add remove item button here -->
                    <form action="{{ url_for('remove_from_basket', product_id=item.product_id) }}" method="post">
                        <button type="submit">Remove from Basket</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p>Total Price: £{{ total_price }}</p>
    <a href="{{ url_for('index') }}">Continue Shopping</a>
    <!-- Checkout button -->
    <form action="{{ url_for('checkout') }}" method="post">
        <button type="submit">Checkout</button>
    </form>

    <!-- Thank you message div -->
    {% if thank_you %}
    <div id="thank_you_message">
        <h2>Thank you for shopping with us!</h2>
    </div>
    {% endif %}
{% endblock %}

