{% extends "layout.html" %}
{% block body_content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <form action="{{ url_for('add_to_basket', product_id=product.id) }}" method="post">
       <div>
           <h3>{{ product['name'] }}</h3>
           <p>{{ product['description'] }}</p>
           <p>Price: ${{ product['price'] }}</p>
           <!-- Add form for adding product to basket -->
       </div>
                    <label>{{ product['name'] }} {{ product['price'] }}</label>
                    <input type="number" name="quantity" value="0" min="1">
                    <button type="submit">Add to Basket</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('view_basket') }}">View Basket</a>
</body>
</html>
{% endblock %}
