{% extends "layout.html" %}
{% block body_content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product['ProductName'] }}</h3>
                <p>{{ product['ProductDescription'] }}</p>
                <p>Price: £{{ product['ProductPrice'] }}</p>
                <!-- Add form for adding product to basket -->
                <form action="{{ url_for('add_to_basket', product_id=product['id']) }}" method="post">
                    <label>Quantity:</label>
                    <input type="number" name="quantity" value="0" min="1">
                    <button type="submit">Add to Basket</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('view_basket') }}">View Basket</a>
</body>
</html>
{% endblock %}
