<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- My Style Sheet -->
    <link rel="stylesheet" href="../static/style.css">
    <title>{{ title }}</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">AY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/basket">Basket</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- First Container -->
<div class="container-fluid bg-2 text-center">
    <a name="App"></a>
    <img src="/static/images/ay.png" class="img-responsive img-rounded mt-3" style="display:inline"
         alt="AY logo"
         width="10%" height="5%">
    <p></p>
    <p>This is a demo application written in Python with the Flask micro web framework.</p>
    <p>It uses Jinja templates and Bootstrap 5.</p>
</div>
<!-- Second Container -->
<div class="container-fluid bg-3 text-left">
    <a name="prod_info"></a>

    <h1>{{ title }}</h1>
    {% block body_content %}
    {% endblock %}

</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; 2024 Anagha and Yulianna</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
